.user-detail-notfound {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-user-form__wrapper {
    width: 100%;
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-user-form__inner {
    height: 500px;
    padding: 16px;
}